@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-black: rgb(19, 19, 19);
  --primary:  rgb(33, 136, 255);
  --secondary:  rgb(176, 220, 255);
  --warning: rgb(255, 255, 76);
  --danger:rgb(255, 105, 105);
  --info: rgb(192, 192, 192);
  --success: rgb(151, 255, 151);
}

body{
  background-color: var(--secondary);
  color: var(--text-black);
}